/*Rénitialiser pour tout les navigateurs*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*permet d'inclure les bordures et les padding DANS la dimension*/
}

*:after {
  box-sizing: border-box;
}

a, abbr {
  color: inherit;
  text-decoration: none;
  display: block;
}

.btn_blue, .btn_gray, .btn_sucess, .btn_warning, .btn_delete, input, button {
  border: none;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  font-size: 1em;
  cursor: pointer;
}