:root {
  --main_color:#0D6EFD;
  --second_color: #F8F9FA;
  --gray_color: #6C757D;
  --success_color : #198754;
  --warning_color : #FFC107;
  --danger_color: #DC3545;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

button {
  padding: 6px 12px;
}

h1, h2, h3, p, span {
  margin: 20px 0px;
}

/* DISPLAYS */

.flex {
  display: flex;
}

.none {
  display: none;
}

.block {
  display: block;
}

/* BUTTONS */

.btn_blue {
  border-radius: 4px;
  background-color: var(--main_color);
  color: var(--second_color);
  padding: 6px 12px;
}

.btn_gray {
  border-radius: 4px;
  background-color: var(--gray_color);
  padding: 6px 12px;
}

.btn_success {
  border-radius: 4px;
  background-color: var(--success_color);
  color: var(--second_color);
  padding: 6px 12px;
}

.btn_warning {
  border-radius: 4px;
  background-color: var(--warning_color);
  padding: 6px 12px;
}

.btn_delete {
  border-radius: 4px;
  background-color: var(--danger_color);
  color: var(--second_color);
  padding: 6px 12px;
}

/* NAVBAR */

.navbar {
  background-color: var(--second_color);
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar a {
  font-weight: 700;
}

.logo {
  margin: 0;
}

/* FORM */

section#connexion_mail, section#connexion_password form, section#confirm_password form, #create_user {
  width: 400px;
  margin: 200px auto;
  background-color: var(--second_color);
  padding: 20px;
}

#connexion_mail h1, #connexion_password h1, #confirm_password h1 {
  text-align: center;
}

#connexion_mail form, #connexion_password form, #confirm_password form {
  text-align: center;
}

#connexion_mail form, #connexion_password form, #confirm_password form {
  display: flex;
  flex-flow: column wrap;
}

#connexion_mail input.btn_blue, #connexion_password input.btn_blue,#confirm_password input.btn_blue, form div {
  margin: 20px auto;
  width: min-content;
}

div input {
  height: 24px;
  width: 320px;
  border: 1px solid var(--gray_color);
  text-align: center;
  margin: 10px 0;
}

/* LOGGED IN */
#logged_in {
  width: 100%;
}

/* LOGGED MENU */

.menu {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 6px 2px -5px;
}

.menu button {
  border: none;
  color: var(--main_color);
  margin: 0 10px;
}

.menu .active {
  color: #6C757D;
}

.card_course {
  background-color: var(--second_color);
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}

/* PROMO */
.title_promo, .title_users {
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.title_promo button, .title_users button {
  height: fit-content;
}

/* INSCRIPTIONS */
#create_user, #create_promo, #update_promo, #update_user {
  width: 100%;
  background-color: var(--second_color);
  padding: 10px 20px;
}

#create_user input, #create_promo input, #update_promo input, #update_user input {
  width: 100%;
  background-color: white;
  height: 34px;
  border: 1px solid var(--gray_color);
  margin: 10px 0;
}

input#promo_form_btn, input#promo_update_btn, input#user_update_btn, input#user_form_btn {
  border-radius: 4px;
  background-color: var(--main_color);
  width: min-content;
  color: var(--second_color);
  padding: 6px 12px;
  border: none;
}